<footer id="site_footer">
    <div id="footer_wrapper">
        <div class="divider"></div>
        <nav class="site_footer_nav">
            <div class="site_footer_sections">
                <div class="footer_section">
                    <h2 class="footer_section_header">Shop</h2>
                    <ul class="footer_section_list">
                        <li><a href="#">Magic Sealed</a></li>
                        <li><a href="#">Magic Singles</a></li>
                        <li><a href="#">Gaming Supplies</a></li>
                    </ul>
                </div>
                <div class="footer_section">
                    <h2 class="footer_section_header">Account</h2>
                    <ul class="footer_section_list">
                        <li><a href="#">Register</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Order History</a></li>
                    </ul>
                </div>
                <div class="footer_section">
                    <h2 class="footer_section_header">About</h2>
                    <ul class="footer_section_list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">About Magic</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="footer_section">
                    <h2 class="footer_section_header">Contact</h2>
                    <ul class="footer_section_list">
                        <li><a href="#">Contact Customer Service</a></li>
                        <li><a href="#">Report Website Bug</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="copyright">Copyright &#9400; 2017. Kaskade Games. All rights reserved</div>
    </div>
</footer>
</body>
</html>