			<!-- Footer -->
			<div id="footer-wrapper">
                <footer id="footer" class="container">
                    <div class="row">
                        <div class="3u 6u(medium) 12u$(small)">
                            <!-- Links -->
                            <section class="widget links">
                                <h3>Shop</h3>
                                <ul class="style2">
                                    <li><a href="/store/sealed">Magic Sealed</a></li>
                                    <li><a href="/store/singles">Magic Singles</a></li>
                                    <li><a href="/store/supplies">Gaming Supplies</a></li>
                                </ul>
                            </section>
                        </div>
                        <div class="3u 6u$(medium) 12u$(small)">
                            <!-- Links -->
                            <section class="widget links">
                                <h3>Account</h3>
                                <ul class="style2">
                                    <li><a href="/login">Register</a></li>
                                    <li><a href="/acount">My Account</a></li>
                                    <li><a href="/order-history">Order History</a></li>
                                </ul>
                            </section>
                        </div>
                        <div class="3u 6u(medium) 12u$(small)">
                            <!-- Links -->
                            <section class="widget links">
                                <h3>About</h3>
                                <ul class="style2">
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="https://magic.wizards.com/en/gameplay/about-the-game">About Magic</a></li>
                                    <li><a href="/faq">FAQ</a></li>
                                </ul>
                            </section>
                        </div>
                        <div class="3u 6u$(medium) 12u$(small)">
                            <!-- Contact -->
                            <section class="widget links">
                                <h3>Contact</h3>
                                <ul class="style2">
                                    <li><a href="/contact">Customer Service</a></li>
                                    <li><a href="/bug">Report Website Bug</a></li>
                                    <li><a href="https://www.facebook.com/kaskadegames/">Facebook</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="12u">
                            <div id="copyright">
                                <ul class="menu">
                                    <li>&copy; Kaskade Games. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!-- Scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.dropotron.min.js"></script>
        <script src="/js/skel.min.js"></script>
        <script src="/js/util.js"></script>
        <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
        <script src="/js/main.js"></script>
    </body>
</html>