<!--
 # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
// Project           : Kaskade Games E-commerce Project
// Filename          : /views/partials/header.ejs   = header partial
//                   : /views/*.ejs                 = body content
//                   : /views/partials/footer.ejs   = footer partial
// Author            : Kaskade
// Date Created      : 20171125
// Purpose           : HTML VIEWS for EJS view engine. EJS files contain rendered HTML
// Design            : Verti by HTML5 UP
//                   : html5up.net | @ajlkn
//                   : Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
//
// Revision History  :
// Date      Author      Ref     Revision (Date in YYYYMMDD)
// YYYYMMDD  [author]    [ref#]  [description]
// # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-->
<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">
			<!-- Header -->
            <div id="header-wrapper">
                <header id="header" class="container">
                    <!-- Logo -->
                    <div id="logo">
                        <a href="/"><img src="/img/logo100.png" alt="logo"/></a>
                    </div>
                    <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li class="current"><a href="/">Home</a></li>
                            <li>
                                <a href="/store">Store</a>
                                <ul>
                                    <li><a href="/store/sealed">Sealed Product</a></li>
                                    <li><a href="/store/singles">Singles</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/about">About</a>
                                <ul>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="https://magic.wizards.com/en/gameplay/about-the-game">About MtG</a></li>
                                    <li><a href="FAQ">FAQ</a></li>
                                    <li>
                                        <a href="/contact">Contact</a>
                                        <ul>
                                            <li><a href="/contact">Customer Service</a></li>
                                            <li><a href="/bugs">Report Website Bug</a></li>
                                            <li><a href="https://www.facebook.com/kaskadegames/">Facebook</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <% if(user === null){ %><li><a href="/login">Login</a></li><% } %>
                            <li><a href="/cart">Cart</a></li>
                            <% if(user != null){ %><li><a href="/logout">Logout</a></li><% } %>
                        </ul>
                    </nav>
                </header>
            </div>