<html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <header id="header">
            <div class="header_wrapper">
                <div id="logo" class="left"><a href="/"><img src="/img/logo70.png"></a></div>
                <nav id="main_nav" class="left">
                    <ul>
                        <li class="spacer"><a href="/">Home</a></li>
                        <li class="spacer"><a href="/about">About</a></li>
                        <li class="spacer"><a href="/faq">FAQ</a></li>
                        <li class="spacer"><a href="/contact">Contact</a></li>
                        <li class="spacer"><a href="/login">Login</a></li> 
                        <li class="spacer"><a href="/cart">Cart</a></li>                                               
                    </ul>
                </nav>
            </div>
            <div id="menu_wrap"></div>
        </header>