<% include partials/header %>
<div id="products_wrapper">
        <div style="font-size: 20px; font-weight:bold; padding-left:30px;">
            <ul style="list-style:circle" >
                <li><a href="/admin/products">Edit Products</a></li>
            </ul>
        </div>
</div>
<% include partials/footer %>