<% include partials/header %>
<div id="products_wrapper">
        <div style="font-size: 40px; font-weight:bold; text-align:center;">Payment Cancelled</div>
        <hr>
        <div style="font-size: 20px; font-weight:bold; text-align:center;"><%= msg %></div>
</div>
<% include partials/footer %>
