<% include partials/header %>
			<!-- Banner -->
			<div id="banner-wrapper">
                    <div id="banner" class="box container">
                        <div class="row">
                            <div class="7u 12u(medium)">
                                <h2>Browse our store</h2>
                                <p>Magic the Gathering, gaming supplies, and more...</p>
                            </div>
                            <div class="5u 12u(medium)">
                                <ul>
                                    <li><a href="/store/sealed" class="button big icon fa-arrow-circle-right">Sealed Product</a></li>
                                    <li><a href="/store/singles" class="button alt big icon fa-question-circle">Magic Singles</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Features -->
                <div id="features-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="4u 12u(medium)">
                                <!-- Box -->
                                <section class="box feature">
                                    <a href="#" class="image featured"><img src="/img/pic01.jpg" alt="" /></a>
                                    <div class="inner">
                                        <header>
                                            <h2>Put something here</h2>
                                            <p>Maybe here as well I think</p>
                                        </header>
                                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                                    </div>
                                </section>
                            </div>
                            <div class="4u 12u(medium)">
                                <!-- Box -->
                                <section class="box feature">
                                    <a href="#" class="image featured"><img src="/img/pic02.jpg" alt="" /></a>
                                    <div class="inner">
                                        <header>
                                            <h2>An interesting title</h2>
                                            <p>This is also an interesting subtitle</p>
                                        </header>
                                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                                    </div>
                                </section>
                            </div>
                            <div class="4u 12u(medium)">
                                <!-- Box -->
                                <section class="box feature">
                                    <a href="#" class="image featured"><img src="/img/pic03.jpg" alt="" /></a>
                                    <div class="inner">
                                        <header>
                                            <h2>Oh, and finally ...</h2>
                                            <p>Here's another intriguing subtitle</p>
                                        </header>
                                        <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Main -->
                <div id="main-wrapper">
                    <div class="container">
                        <div class="row 200%">
                            <div class="4u 12u(medium)">
                                <!-- Sidebar -->
                                <div id="sidebar">
                                    <section class="widget thumbnails">
                                        <h3>Project Tech</h3>
                                        <div class="grid">
                                            <div class="row 50%">
                                                <div class="6u" style="width:100%"><a href="#" class="image fit"><img src="/img/nodejs-logo.png" alt="Node JS Logo" /></a></div>
                                                <div class="6u" style="width:100%"><a href="#" class="image fit"><img src="/img/mongodb-logo.png" alt="Mongo DB Logo" /></a></div>
                                                <div class="6u" style="width:100%"><a href="#" class="image fit"><img src="/img/express-logo.png" alt="Express JS Logo" /></a></div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="8u 12u(medium) important(medium)">
                                <!-- Content -->
                                <div id="content">
                                    <section class="last">
                                        <h2>So what's this all about?</h2>
                                        <p><strong>Kaskade Games</strong> is sample e-commerce website that features open source technologies such 
                                            as the Node javascript runtime environment and MongoDB document-oriented database program. If you have a 
                                            PayPal sandbox account, you can test out store functionality.
                                        </p>
                                        <p>This project is hosted on GitHub. To clone, contributue, or report an issue please visit the project page at
                                            <a href="https://github.com/Kaskade01/Kaskade-Games">https://github.com/Kaskade01/Kaskade-Games</a>.
                                        </p>
                                        <a href="/about" class="button icon fa-arrow-circle-right">Learn More</a>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<% include partials/footer %>
